<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="octavian.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Octavian"
            class="octavian.Perspective"
            id="octavian.perspective"
            >
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Узлы"
            class="octavian.View"
            id="octavian.view"
            icon="icon/nodes.png"
            >
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="octavian.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Файл"
               icon="icon/file.png">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Выход"
                  icon="icon/quit.png">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
