<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.perspectives">
	<perspective
	id="org.eclipse.ponyatov.octavian.perspective"
	class="org.eclipse.ponyatov.octavian.perspective"
	name="Octavian"
	icon="icon/octave.png"
	>
	</perspective>
</extension>

</plugin>
