<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.runtime.applications" id="application">
      <application>
         <run class="octavian.Application"/>
      </application>
   </extension>
   
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="Octavian"
            class="octavian.Perspective"
            id="octavian.perspective"
            fixed="true"
            />
   </extension>
   
	<extension point="org.eclipse.ui.bindings">
		<key
			sequence="M3+Q"
			commandId="org.eclipse.ui.file.exit"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window" />
	</extension>   
   
   <extension point="org.eclipse.ui.menus">
   		<menuContribution
   				locationURI="menu:org.eclipse.ui.main.menu">
   				<menu
   					id="octavian.menu.file"
   					label="&amp;Fайл"
   					icon="icon/file.png"
   				>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="&amp;Nовый"
   						icon="icon/new.png"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="&amp;Oткрыть"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="&amp;Sохранить"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="Сохранить к&amp;aк"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="Закрыть"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="Выход"
   						icon="icon/quit.png"
   						/>
   				</menu>
   				<menu
   					id="eddy.menu.edit"
   					label="Р&amp;eдактор"
   					icon="icon/edit.png"
   				>
   					<command
   						commandId="org.eclipse.ui.edit.undo"
   						label="Откот"
   					/>
   					<command
   						commandId="org.eclipse.ui.edit.redo"
   						label="Наезд"
   					/>
   				</menu>
        </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.views">
		<category id="octavian.category" name="Octavian"/>
		<view
            name="Файлы"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="octavian.files"
            icon="icon/project.png"
            allowMultiple="false"
        />
		<view
            name="Узлы"
            class="octavian.Nodes"
            id="octavian.nodes"
            icon="icon/nodes.png"
            allowMultiple="false"
		/>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.viewer">
   		<viewer viewerId="octavian.files"/>
   		<viewerContentBinding viewerId="octavian.files">
   			<includes>
   				<contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
   				<contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
   				<contentExtension pattern="octavian.filters.*"/>
   			</includes>
   		</viewerContentBinding>
   		<viewerActionBinding viewerId="octavian.files">
   			<includes>
   				<actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
   			</includes>
   		</viewerActionBinding>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
   		<commonFilter id="octavian.filters.nonJava" name="Octavian filter">
   			<filterExpression>
   				<not>
   					<adapt type="org.eclipse.core.resources.IProject">
   						<test
   							property="org.eclipse.core.resources.projectNature"
   							value="org.eclipse.jdt.core.javanature"
   						/>
   					</adapt>
   				</not>
   			</filterExpression>
   		</commonFilter>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
   		<perspectiveExtension targetID="octavian.perspective">
   			<hiddenMenuItem id="org.eclipse.ui.run"/>
   			<hiddenMenuItem id="org.eclipse.source.menu"/>
   			<hiddenMenuItem id="org.eclipse.refactor.menu"/>
   			<hiddenMenuItem id="org.eclipse.search.menu"/>
         <view
               standalone="false"
               minimized="false"
               moveable="false"
 				ratio="0.3"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="octavian.files"/>
         <view
               standalone="false"
               minimized="false"
               moveable="false"
   				ratio="0.5"
               relative="octavian.files"
               relationship="bottom"
               id="octavian.nodes"/>
   			<view
               standalone="false"
   				id="org.eclipse.jdt.ui.PackageExplorer"
   				minimized="false"
   				moveable="false"
   				ratio="0.3"
   				relationship="bottom"
   				relative="octavian.nodes"
   				visible="true"
   			/>
      </perspectiveExtension>
   </extension>
   
</plugin>
